# Import libraries

In [46]:
import pandas as pd
import numpy as np

In [47]:
vehicle_data = pd.read_csv('cars_dataframe_with_details.csv')
vehicle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Link        1455 non-null   object
 1   Title       1455 non-null   object
 2   Nam SX      1174 non-null   float64
 3   Kieu dang   964 non-null    object
 4   Tinh trang  1174 non-null   object
 5   Xuat xu     1174 non-null   object
 6   Km da di    1170 non-null   object
 7   Tinh thanh  1174 non-null   object
 8   Quan huyen  1094 non-null   object
 9   Hop so      1174 non-null   object
 10  Nhien lieu  1174 non-null   object
 11  Price       1174 non-null   object
 12  Sale Date   1174 non-null   object
 13  Error       281 non-null    object
dtypes: float64(1), object(13)
memory usage: 159.3+ KB

In [48]:
vehicle_data.head(10)

,Link,Title,Nam SX,Kieu dang,Tinh trang,Xuat xu,Km da di,Tinh thanh,Quan huyen,Hop so,Nhien lieu,Price,Sale Date,Error
0,https://oto.com.vn/mua-ban-xe-lexus-lx-600-hcm...,2023 - Lexus LX 600,2023.0,SUV,Xe cu,Nhap khau,14.000 km,Tp.HCM,Thu Duc,So tu dong,May xang,8 ti 950 trieu,22/08/2024,NaN
1,https://oto.com.vn/mua-ban-xe-mercedes-benz-cl...,2014 - Mercedes-Benz CLA 200 1.6 I4,2014.0,Sedan,Xe cu,Nhap khau,60.000 km,Ha Noi,Nam Tu Liem,So tu dong,May xang,499 trieu,8/9/2024,NaN
2,https://oto.com.vn/mua-ban-xe-mercedes-benz-c2...,2016 - Mercedes-Benz C200 2.0 AT,2016.0,Sedan,Xe cu,Trong nuoc,95.000 km,Ha Noi,Nam Tu Liem,So tu dong,May xang,639 trieu,17/09/2024,NaN
3,https://oto.com.vn/mua-ban-xe-mercedes-benz-c-...,2015 - Mercedes-Benz C250 AMG,2015.0,Sedan,Xe cu,Trong nuoc,100.000 km,Ha Noi,Nam Tu Liem,So tu dong,May xang,666 trieu,3/9/2024,NaN
4,https://oto.com.vn/mua-ban-xe-mercedes-benz-c2...,2014 - Mercedes-Benz C200 Edition C,2014.0,Sedan,Xe cu,Trong nuoc,100.000 km,Ha Noi,Nam Tu Liem,So tu dong,May xang,420 trieu,2/9/2024,NaN
5,https://oto.com.vn/mua-ban-xe-mercedes-benz-s4...,2016 - Mercedes-Benz S400 3.0 V6,2016.0,Sedan,Xe cu,Trong nuoc,80.000 km,Ha Noi,Nam Tu Liem,So tu dong,May xang,1 ti 399 trieu,8/9/2024,NaN
6,https://oto.com.vn/mua-ban-xe-ford-focus-hcm/x...,2017 - Ford Focus 1.5L EcoBoost Sport,2017.0,SUV,Xe cu,Trong nuoc,82.000 km,Tp.HCM,Thu Duc,So tu dong,May xang,445 trieu,19/09/2024,NaN
7,https://oto.com.vn/mua-ban-xe-ford-everest-hcm...,2021 - Ford Everest Titanium 2.0 AT 4x2,2021.0,SUV,Xe cu,Trong nuoc,41.000 km,Tp.HCM,Thu Duc,So tu dong,May xang,925 trieu,19/09/2024,NaN
8,https://oto.com.vn/mua-ban-xe-ford-explorer-hc...,2022 - Ford Explorer Limited,2022.0,SUV,Xe cu,Nhap khau,4.000 km,Tp.HCM,Quan 8,So tu dong,May xang,1 ti 950 trieu,19/09/2024,NaN
9,https://oto.com.vn/mua-ban-xe-ford-ranger-hcm/...,2022 - Ford Ranger Raptor,2022.0,Ban Tai,Xe cu,Nhap khau,48.000 km,Tp.HCM,Quan 8,So tu dong,May dau,995 trieu,15/09/2024,NaN

# Formating

In [49]:
vehicle_data['Km da di'] = vehicle_data['Km da di'].apply(
    lambda x: int(x.replace('.', '').replace(' km', '')) if isinstance(x, str) else np.nan
)

print("\nKiểu dữ liệu của cột 'Km da di':")
print(vehicle_data['Km da di'].dtype)

Kiểu dữ liệu của cột 'Km da di':
float64

In [50]:
vehicle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Link        1455 non-null   object
 1   Title       1455 non-null   object
 2   Nam SX      1174 non-null   float64
 3   Kieu dang   964 non-null    object
 4   Tinh trang  1174 non-null   object
 5   Xuat xu     1174 non-null   object
 6   Km da di    1170 non-null   float64
 7   Tinh thanh  1174 non-null   object
 8   Quan huyen  1094 non-null   object
 9   Hop so      1174 non-null   object
 10  Nhien lieu  1174 non-null   object
 11  Price       1174 non-null   object
 12  Sale Date   1174 non-null   object
 13  Error       281 non-null    object
dtypes: float64(2), object(12)
memory usage: 159.3+ KB

In [51]:
vehicle_data.rename(columns={
    'Nam SX': 'Year',
    'Kieu dang': 'Body Type',
    'Tinh trang': 'Condition',
    'Xuat xu': 'Origin',
    'Km da di': 'Mileage',
    'Tinh thanh': 'City',
    'Quan huyen': 'District',
    'Hop so': 'Transmission',
    'Nhien lieu': 'Fuel Type',
}, inplace=True)

print(vehicle_data.columns)

Index(['Link', 'Title', 'Year', 'Body Type', 'Condition', 'Origin', 'Mileage',
       'City', 'District', 'Transmission', 'Fuel Type', 'Price', 'Sale Date',
       'Error'],
      dtype='object')

# Handle some important missing value

In [52]:
vehicle_data = vehicle_data.dropna(subset=['Price'])
vehicle_data.drop(columns=['Error'], inplace=True)
vehicle_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1174 entries, 0 to 1454
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Link          1174 non-null   object
 1   Title         1174 non-null   object
 2   Year          1174 non-null   float64
 3   Body Type     964 non-null    object
 4   Condition     1174 non-null   object
 5   Origin        1174 non-null   object
 6   Mileage       1170 non-null   float64
 7   City          1174 non-null   object
 8   District      1094 non-null   object
 9   Transmission  1174 non-null   object
 10  Fuel Type     1174 non-null   object
 11  Price         1174 non-null   object
 12  Sale Date     1174 non-null   object
dtypes: float64(2), object(11)
memory usage: 128.4+ KB

#  Feature extraction

In [53]:
vehicle_data.insert(0, 'car_id', range(1, len(vehicle_data) + 1))

In [54]:
def extract_manufacturer(car_info):
    return car_info.split(" - ")[1].split()[0]

In [55]:
vehicle_data['manufacturer'] = vehicle_data['Title'].apply(extract_manufacturer)
vehicle_data['manufacturer'] = vehicle_data['manufacturer'].replace('Land', 'Land Rover')
print(vehicle_data['manufacturer'].unique())

['Lexus' 'Mercedes-Benz' 'Ford' 'Porsche' 'Toyota' 'Mitsubishi' 'Nissan'
 'Hyundai' 'Infiniti' 'Kia' 'Honda' 'Chevrolet' 'VinFast' 'Bentley'
 'Land Rover' 'Audi' 'BMW' 'Daewoo' 'McLaren' 'Mazda' 'Suzuki' 'Jaguar'
 'Peugeot' 'Ferrari' 'MG' 'Volvo' 'Rolls-Royce' 'Cadillac' 'Jeep'
 'Volkswagen' 'Dodge' 'Lincoln' 'Isuzu' 'Renault' 'Mini']

In [56]:
vehicle_data.to_csv('Used_car_data_promax.csv', index=False, encoding='utf-8')