In [1]:
import pandas as pd
import pyodbc
import numpy as np

In [2]:
server = 'NITRO\\SQLEXPRESS'
database = 'cars_data'
driver = 'ODBC Driver 17 for SQL Server'

In [3]:
connection_string = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

In [4]:
def get_table(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_name LIKE '%[_]%'")
    tables = cursor.fetchall()
    cursor.close()
    return [table[0] for table in tables]

In [5]:
car_tables = get_table(conn)
dfs = {}

In [6]:

for table in car_tables:
    query = f"SELECT * FROM [{table}]"
    try:
        df = pd.read_sql(query, conn)
        dfs[table] = df
        print(f"Data from table '{table}' retrieved successfully")
    
    except Exception as e:
        print(f"Error retrieving data from table '{table}': {e}")

Data from table 'Final_data' retrieved successfully

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4852\3683832141.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [7]:
cursor.close()
conn.close()

In [8]:
dfs["used_Car"].head()

KeyError: 'used_Car'

## Prep

In [39]:
df_bonbanh = dfs['bonbanh_inf']
df_usedcar = dfs['used_Car']
df_newcar = dfs['newcar_inf']

## bonbanh

## handle None values

In [43]:
df_bonbanh.info()
df_bonbanh.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12417 entries, 0 to 12416
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         12417 non-null  object
 1   Price        12417 non-null  object
 2   SellDate     12417 non-null  object
 3   Date         12417 non-null  object
 4   Condition    12417 non-null  object
 5   Mileage      12417 non-null  object
 6   Origin       12417 non-null  object
 7   BodyType     12417 non-null  object
 8   EngineType   12417 non-null  object
 9   Color        12417 non-null  object
 10  ColorInside  12417 non-null  object
 11  Seats        12417 non-null  object
 12  Doors        12417 non-null  object
dtypes: object(13)
memory usage: 1.2+ MB

name           0
Price          0
SellDate       0
Date           0
Condition      0
Mileage        0
Origin         0
BodyType       0
EngineType     0
Color          0
ColorInside    0
Seats          0
Doors          0
dtype: int64

In [45]:
df_bonbanh.replace({'-': np.nan, 'None': np.nan}, inplace=True)
df_bonbanh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12417 entries, 0 to 12416
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         12417 non-null  object
 1   Price        12417 non-null  object
 2   SellDate     12417 non-null  object
 3   Date         12417 non-null  object
 4   Condition    12417 non-null  object
 5   Mileage      12417 non-null  object
 6   Origin       12417 non-null  object
 7   BodyType     12417 non-null  object
 8   EngineType   12417 non-null  object
 9   Color        12090 non-null  object
 10  ColorInside  12255 non-null  object
 11  Seats        12417 non-null  object
 12  Doors        9537 non-null   object
dtypes: object(13)
memory usage: 1.2+ MB