In [1]:
import pandas as pd
import pyodbc

In [2]:
server = 'NITRO\\SQLEXPRESS'
database = 'cars_data'
driver = 'ODBC Driver 17 for SQL Server'

In [3]:
connection_string = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

In [4]:
def get_table(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_name LIKE '%[_]%'")
    tables = cursor.fetchall()
    cursor.close()
    return [table[0] for table in tables]

In [5]:
car_tables = get_table(conn)
dfs = {}

for table in car_tables:
    query = f"SELECT * FROM [{table}]"
    try:
        df = pd.read_sql(query, conn)
        dfs[table] = df
        print(f"Data from table '{table}' retrieved successfully")
    
    except Exception as e:
        print(f"Error retrieving data from table '{table}': {e}")

Data from table 'bonbanh_inf' retrieved successfully
Data from table 'newcar_inf' retrieved successfully

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14816\4090116934.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
combined_df = pd.concat(dfs.values(), ignore_index=True)

In [7]:
cursor.close()
conn.close()

In [9]:

combined_df.head()

,name,Price,SellDate,Date,Condition,Mileage,Origin,BodyType,EngineType,Color,...,origin,body_type,seating_capacity,engine,torque,transmission,max_power,drive,fuel_type,fuel_capacity
0,Xe Toyota Camry 2.5Q 2021 - 999 Trieu,999 Trieu,19/10/2024,2021,Xe da dung,"20,000 Km",Nhap khau,Sedan,Xang 2.5 L,Trang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Xe Chevrolet Captiva LTZ Maxx 2.4 AT 2009 - 17...,178 Trieu,19/10/2024,2009,Xe da dung,"90,000 Km",Lap rap trong nuoc,SUV,Xang 2.4 L,Den,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Xe Mercedes Benz S class S450L 2020 - 2 Ty 695...,2 Ty 695 Trieu,19/10/2024,2020,Xe da dung,"39,000 Km",Lap rap trong nuoc,Sedan,Xang 3.0 L,Trang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Xe Toyota Prado VX 2.7L 2021 - 2 Ty 390 Trieu,2 Ty 390 Trieu,20/10/2024,2021,Xe da dung,"108,000 Km",Nhap khau,SUV,Xang 2.7 L,Den,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Xe Toyota Camry 2.5Q 2021 - 999 Trieu,999 Trieu,19/10/2024,2021,Xe da dung,"20,000 Km",Nhap khau,Sedan,Xang 2.5 L,Trang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Prep

In [13]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4726 entries, 0 to 4725
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              4726 non-null   object
 1   Price             4139 non-null   object
 2   SellDate          4139 non-null   object
 3   Date              4139 non-null   object
 4   Condition         4139 non-null   object
 5   Mileage           4139 non-null   object
 6   Origin            4139 non-null   object
 7   BodyType          4139 non-null   object
 8   EngineType        4139 non-null   object
 9   Color             4139 non-null   object
 10  ColorInside       4139 non-null   object
 11  Seats             4139 non-null   object
 12  Doors             4139 non-null   object
 13  link              587 non-null    object
 14  manufacturer      587 non-null    object
 15  origin            587 non-null    object
 16  body_type         587 non-null    object
 17  seating_capacity  587 non-null    object
 18  engine            587 non-null    object
 19  torque            587 non-null    object
 20  transmission      587 non-null    object
 21  max_power         587 non-null    object
 22  drive             587 non-null    object
 23  fuel_type         587 non-null    object
 24  fuel_capacity     587 non-null    object
dtypes: object(25)
memory usage: 923.2+ KB